############################
# Unity generated folders
############################
magnet/[Ll]ibrary/
magnet/[Tt]emp/
magnet/[Oo]bj/
magnet/[Bb]uild/
magnet/[Bb]uilds/
magnet/[Ll]ogs/
magnet/[Uu]ser[Ss]ettings/

############################
# Unity caches
############################
magnet/**/[Mm]emoryCaptures/
magnet/**/[Rr]ecordings/

############################
# IDE / OS junk
############################
.vs/
.gradle/
.consulo/
.DS_Store
Thumbs.db
.utmp/

############################
# IDE project files
############################
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

############################
# Unity crash & logs
############################
*.log
sysinfo.txt
mono_crash.*

############################
# Builds
############################
*.apk
*.aab
*.unitypackage
*.app

############################
# Addressables (generated)
############################
magnet/ServerData
magnet/Assets/StreamingAssets/aa*
magnet/Assets/AddressableAssetsData/*
magnet/Assets/Addressables_Temp*

############################
# Visual Scripting (generated)
############################
magnet/Assets/Unity.VisualScripting.Generated/

############################
# Test Runner
############################
magnet/Assets/InitTestScene*.unity*

############################
# Blender temp files
############################
*.blend1


############################
# Local clone folders
############################
magnet_clone_*/
